<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<br>Bonjour ${nomPrenomsAgentEtat}
		<p>
			Le déblocage de votre compte pour accès multiple s'est effectué avec succès.<br>
        </p>
        <P>
        	Vous pourrez vous reconnecter avec ses paramètres en cliquant le lien suivant afin de vous connecter au SIGDCP <i><a href="#">Connectez-vous à SIGDCP</a></i>.<br>
		<p>
			Cordialement;<br>
			L'équipe "SIGDCP" de la Direction Générale du Budget et des Finances.
		</p>
	</body>
</html>