<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<br>Bonjour ${nomPrenomsAgentEtat}
		<p>
			La réinitialisation de votre mot de passe s'est faite avec succès.<br>
			Voici vos nouveau paramètres de connexion :<br>			
        </p>
        <p>
        	Login : <b>${loginUtilisateur}</b><br>
            Mot de passe : <b>${motPasseUtilisateur}</b>
        </p>
        <P>
        	Veuillez suivre le lien suivant afin de vous connecter au SIGDCP <i><a href="#">Connectez-vous à SIGDCP</a></i> .              
		<p>
			Cordialement;<br>
			L'équipe "SIGDCP" de la Direction Générale du Budget et des Finances.
		</p>
	</body>
</html>