<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<b>Objet : Avis de récupération de mot de passe</b>
		<br>Bonjour ${nomPrenomsAgentEtat}
		<p>
			Votre compte utilisateur a été dévérouillé.
			Veuillez examiner les détails de la tentative de connexin :
        </p>
        <p>
        	Login : <b>${loginUtilisateur}</b><br>
            Mot de passe : <b>${motPasseUtilisateur}</b><br>            
        </p>
        <p>
        	Veuillez cliquer sur le lien suivant <i><a href="#">Lien de validation pour la récupération de mot de passe.</a></i>
			Cordialement;<br>
			L'équipe "SIGDCP" de la Direction Générale du Budget et des Finances.
		</p>
	</body>
</html>