<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<br>Bonjour ${nomPrenomsAgentEtat}
		<p>
			Nous vous informons de votre temps de connexion.
			Veuillez examiner les détails de la connexin :
        </p>
        <p>
        	Date (Jour/Heure) connexion : <b>${dateHeureConnexion}</b><br>
        	Date (Jour/Heure) déconnexion : <b>${dateHeureDeconnexion}</b><br>
            Adresse IP : <b>${adresseIP}</b><br>
            Localisation : <b>${adresseGeographique}</b><br>
        </p>
        <p>
        	<b>N.B :</b> Si vous n'avez pas effectué cette connexion, il est possible qu'une tierce personne ai usurpé votre identité.
			<br>Nous vous conseillons de vous connecter à votre compte et de <u><a href="#">changer votre mot de passe</a></u>.
            <p>Si le compte "SIGDCP" << LOGIN >> ne vous appartient pas, <a href="#">cliqueze ici.</a>
            afin de dissocier votre adresse e-mail de ce compte.
            </p>
            
			Cordialement;<br>
			L'équipe "SIGDCP" de la Direction Générale du Budget et des Finances.
			</p>
	</body>
</html>