<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<br>Bonjour ${nomPrenomsAgentEtat}
		<p>
			Votre souscription à un compte a été effectuée avec succès. Il vous permettra d'accéder à l'application "SIGDCP" pour toutes les opérations 
			que vous souhaiteriez effectuer.<br>
			Voici vos paramètres de connexion :
        </p>
        <p>
        	Login : <b>${loginUtilisateur}</b><br>
            Mot de passe : <b>${motPasseUtilisateur}</b>            
        </p>
        <p>        	
			Cordialement;<br>
			L'équipe "SIGDCP" de la Direction Générale du Budget et des Finances.
		</p>
	</body>
</html>